<mat-card class="profile-card">
  <div mat-card-image class="backgroundImg">
    <img src="../../assets/profile_background.jpeg" alt="profile-background">
  </div>
  <div *ngIf="!file" class="placeholder" (click)="openImgDialog()">
    <img src="../../assets/profile_placeholder.png" alt="profile-placeholder">
  </div>
  <app-avatar *ngIf="file" [avatar]="file"></app-avatar>
  <mat-card-content class="profileContent">
    <form novalidate [formGroup]="profileForm" (ngSubmit)="onSubmit()">

      <mat-form-field class="input" appearance="fill">
        <mat-label for="username">Username</mat-label>
        <input matInput id="username" type="text" formControlName="username">
        <mat-error *ngIf="formErrors.username">{{formErrors.username}}</mat-error>
      </mat-form-field>

      <mat-form-field class="input" appearance="fill">
        <mat-label for="email">Email</mat-label>
        <input matInput id="email" type="text" formControlName="email">
        <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
      </mat-form-field>

      <mat-radio-group formControlName="gender">
        <mat-label for="gender">Gender: </mat-label>
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
      </mat-radio-group>

      <mat-form-field class="textarea" appearance="fill">
        <mat-label>Bio</mat-label>
        <textarea matInput id="bio" type="textarea" formControlName="bio"></textarea>
      </mat-form-field>

      <button class="btn" type="submit">Submit</button>

    </form>
  </mat-card-content>
</mat-card>