.profile-card {
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
  
}

.profile-card .backgroundImg {
  max-height: 200px;
  overflow: hidden;
}

.profile-card .backgroundImg img {
  width: 100%;
}

.profile-card .placeholder {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  margin-top: -1em;
  left: 50%;
  height: 150px;
  width: 150px;
  transform: translate(-50%,-50%);
  background-color: white; 
  cursor: pointer;
}

.profile-card .placeholder img {
  padding: 5px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  background: no-repeat center;
  background-size: cover;
}

.profileContent {
  padding-top: 100px;
}

.input {
  width: 50%;
  padding: 1em;
}

.textarea {
  display: block;
  padding: 1em;
}

mat-radio-group {
  padding: 1em;
}

mat-radio-button {
  margin-left: 1em;
}

.btn {
  background-color: #005580;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .input {
    display: block;
    width: 100%;
    padding: 1em;
  }
}